.tool-bar {
    background: #d1ecf1;
    font-size: 0px;
    text-align: center;
    display: block;
    width: 100%;
}

.tool-bar a {
    padding: 10px 20px;
    display: inline-block;
    background: #d1ecf1;
    font-size: 16px;
    color: #171a1d;
    text-decoration: none;
}

.tool-bar a:hover {
    background: #65a1c5;
}

.system-bar {
    position:absolute;
    right:0px;
    display: inline-block;
    text-align: right;
}

.card-page {
    margin-top: 10px;
    border: lightsteelblue 1px solid;
    display: block;
}

.tablesaw {
    width: 100%;
}

.breadcrumb-div {
    margin-left: -20px;
    margin-right: -20px;
}

.card-box {
    padding: 10px;
}

.preview img {
    max-height:50px;
}


.dropbtn {
    padding: 10px 20px;
    display: inline-block;
    background: #d1ecf1;
    font-size: 16px;
    color: #171a1d;
    text-decoration: none;
    border-width: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #65a1c5;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #65a1c5;}